[Desktop Entry]
Type=Application
Exec=numpyviewer %F
Name=Numpy viewer
GenericName=The viewer for numpy hyperspectral cubes.
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
Categories=Development;IDE;Qt;
MimeType=application/numpy;text/plain;application/octet-stream;
Name[en_US]=Numpy viewer
